
<%= simple_form_for(@recipe, html: { class: 'form-inline' }, ) do |f| %>

  <% if @recipe.errors.any? %>
    <div id='error_messages'>
      <h2> Because of
        <%= pluralize(@recipe.errors.count, 'error') %>
        this recipe could not be saved.
      </h2>
      <ul>
        <% @recipe.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.input :title, placeholder: 'Enter recipe title' %>
  </p>

  <p>
    <%= f.input :difficulty_level, collection: 1..5, prompt: "Select difficulty" %>
  </p>

  <p>
    <%= f.input_field :description, placeholder: 'Description' %>
  </p>

  <p>
    <%= f.file_field :image %>
  </p>

  <p>
    <%= f.association :category %>
   </p>

  <p>
    <%= f. button :submit, class: "btn btn-primary" %>
  </p>
<% end %>

