<h1>All Recipes</h2>

<p><%= link_to 'Add a recipe', new_recipe_path %></p>
<table>
  <tr>
    <th>Title</th>
    <th>Difficulty level</th>
    <th>Description</th>
    <th></th>
  </tr>

  <% @recipes.each do |recipe| %>
   <tr>
      <td><%= link_to "#{recipe.title}", recipe_path(recipe) %></td>
      <td><%= recipe.difficulty_level %></td>
      <td><%= recipe.title %></td>
      <td><%= link_to 'Edit', edit_recipe_path(recipe) %></td>
      <td><%= link_to 'Delete', recipe_path(recipe),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to 'Back to main page', welcome_index_path %></p>