<h1><%= @recipe.title %></h1>

<p>Difficulty level: <%= @recipe.difficulty_level%></p>
<p>Category: <%= @recipe.category.name%></p>
<p>Description: <%= @recipe.description%></p>
<p><%= link_to 'Back to index', recipes_path %></p>

